.menuItem {
    min-height: 100% !important;
    padding-right: 10px;
    width: 240px;   

    .categoryTeaxtStyle {
        color: var(--text-icon-subtle-primary, #0C3058);
        text-align: right;
        font-family: Rubik;
        font-size: var(--font-size-s, 16px);
        font-style: normal;
        font-weight: var(--font-weight-regular, 400);
        line-height: 125%;
    }
}