.gridContainer {
    max-width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 150px;
  }
  
  .gridItem {
    padding: 10px;
    text-align: center;
  }
  